html, * {
	box-sizing: border-box;
}

section{
	  width: 200px;
	  height: 200px;
    border: 0px;
    padding: 25px;
    margin: 25px;
    position:fixed;
    top:0;
    left:0;
    background-color: orange;
}

h1{
	display:inline;
	position:relative;
	left:200px;
}